
*{
  box-sizing: border-box;
}

html{
  background-color:#FEDCC8;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Public Sans', sans-serif;
  color: #172b4d;
  background-color:#FEDCC8;
  display: flex;
  align-items: start;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2d112b;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  z-index: 2;
}

.parallax__layer__0 {
  transform: translateZ(-300px) scale(4);
}

.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__2 {
  transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
  transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
  transform: translateZ(0px) scale(1);
}

i {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 20px #ECF0F1;

}

p {
  font-size: 15px;
  padding-right: 15px;
}

div {
  border-radius: 3px;
}

#main {
  display: flex;
  align-items: start;
}

.title {
  font-weight: 600;
}

.editable {
  user-select: none;
  outline: none;
  margin: 7px;
  padding: 10px;
  cursor: pointer !important;
  display: flex;
}

.editing {
  background: white;
  color: #172b4d !important;
  box-shadow:inset 0px 0px 0px 2px #0279bf;
}

.editing:hover {
  background: white !important;
}

.card {
  background: #F2F3F4;
  opacity: 0.6;
  border-bottom: 1px solid #aaa;
  align-items: center;
  text-align: start;
}

.list-pb {
/*   padding: 7px; */
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: #85C1E9;
  text-align: center;
  padding-top: 15px;
}

.list-cpb {
  /*   padding: 7px; */
    min-width: 280px;
    margin: 10px 5px;
    position: relative;
    background: #BB8FCE;
    text-align: center;
    padding-top: 15px;
  }

  .list-ip {
    /*   padding: 7px; */
      min-width: 280px;
      margin: 10px 5px;
      position: relative;
      background: #F5B041;
      text-align: center;
      padding-top: 15px;
    }

.list-r {
  /*   padding: 7px; */
    min-width: 280px;
    margin: 10px 5px;
    position: relative;
    background: #52BE80;
    text-align: center;
    padding-top: 15px;
  }

.list-d {
  /*   padding: 7px; */
    min-width: 280px;
    margin: 10px 5px;
    position: relative;
    background: #1E8449;
    text-align: center;
    padding-top: 15px;
  }

.list-ar {
  /*   padding: 7px; */
    min-width: 280px;
    margin: 10px 5px;
    position: relative;
    background: #85929E;
    text-align: center;
    padding-top: 15px;
  }

.add-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: rgba(0,0,0,.12);
  color: hsla(0,0%,100%,.8);
}

.ghost {
  opacity: .1;
  color: #000;
  background-color: #000;
}

.add-card {
  width: calc(100% - 35px);
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  color: gray;
  text-decoration: none;
/*   border-bottom: 1px solid #dfe1e6; */
}

.add-card:hover {
  background-color: rgba(9,30,66,.13);
}

.del {
  font-weight: 600;
  color: gray;
}

.or-spacer-vertical {
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  width: 5px;
  position: relative;
}
.or-spacer-vertical .mask {
  overflow: hidden;
  width: 10px;
  height: 750px;
}
.or-spacer-vertical.left .mask:after {
  content: '';
  display: block;
  margin-left: -20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}